In [19]:
import pandas as pd
from pathlib import Path
import os

OUT_PATH = Path().absolute().parent / "exports"
filelist = os.listdir(OUT_PATH)
filepath = OUT_PATH / filelist[-1]

In [20]:

df = pd.read_excel(filepath)
df.shape

(439, 11)

### Most unstable algs

In [21]:
df.sort_values('Skew', ascending=True)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
69,UF,BU,DB,"U: Lw U Lw', S",1.52,1.56,4,0.10,1.37,1.62,-0.55
148,UF,BU,FL,"U L' U', M",1.06,1.13,4,0.24,0.69,1.29,-0.51
428,UF,BU,RD,"U' D': R' F' R, S",0.95,0.97,4,0.17,0.70,1.15,-0.32
187,UF,BU,FD,"U': S, R' F' R",0.79,0.80,4,0.07,0.68,0.88,-0.27
238,UF,RD,BR,"D': U' R' U, M'",0.97,0.99,17,0.12,0.73,1.15,-0.25
229,UF,BU,BR,"U L U', M",0.79,0.80,4,0.12,0.62,0.94,-0.21
310,UF,BR,LB,"R' U' R, E'",1.11,1.10,10,0.15,0.82,1.33,-0.19
274,UF,LD,BD,"U D: S, L F' L'",1.54,1.61,28,0.31,0.95,2.12,-0.19
367,UF,FD,RU,"U D': L F' L', S",1.24,1.22,32,0.19,0.78,1.63,-0.15
225,UF,DF,BR,"U' D R': E', R2",0.93,0.92,17,0.11,0.72,1.17,-0.07

### Most stable algs

In [22]:
df.sort_values('Skew', ascending=False)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
384,UF,DR,RF,"U' E' R: E, R2",0.91,0.83,64,0.28,0.67,2.43,3.44
119,UF,UB,DF,"U2, M'",0.72,0.68,81,0.15,0.55,1.57,3.09
300,UF,UL,LB,"U': R E' R', U'",0.88,0.82,78,0.25,0.62,2.21,3.03
54,UF,LB,UR,"R E' R', U'",0.70,0.68,49,0.21,0.40,1.60,2.96
181,UF,UR,FD,"Rw: U' R' U, M",1.04,1.00,100,0.28,0.71,2.80,2.96
359,UF,UB,RU,"S U': S, R2",1.04,0.98,78,0.27,0.68,2.55,2.88
233,UF,LB,BR,"E', R' U' R",1.20,1.04,48,0.53,0.69,3.57,2.88
33,UF,LB,UL,"U': U', R E' R'",1.00,0.88,48,0.34,0.66,2.68,2.80
151,UF,BD,FL,"U: L', U M U'",1.03,0.94,31,0.33,0.66,2.46,2.74
404,UF,DR,RB,"Uw' R': E', R2",0.86,0.75,63,0.30,0.55,2.41,2.72

### Slowest algs

In [23]:
df.sort_values('Mean', ascending=False)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
297,UF,RB,LU,"F R': S, R2",1.87,1.87,1,0.00,1.87,1.87,NaN
111,UF,BD,DR,"U R B R': R2, S",1.80,1.70,24,0.55,1.23,3.31,1.17
192,UF,LB,FD,R,1.75,1.64,42,0.53,0.97,3.59,1.47
252,UF,LU,BL,"U' R F: R2, E'",1.72,1.79,23,0.43,1.07,2.41,-0.03
91,UF,BD,DL,"U' R' B R: S', R2",1.69,1.58,27,0.56,0.98,3.25,1.12
157,UF,RB,FL,"L': L' E L, U",1.63,1.63,1,0.00,1.63,1.63,NaN
90,UF,BL,DL,U': R E' R2 E R S' R2 S R2,1.62,1.45,11,0.43,1.23,2.52,1.39
11,UF,BD,UB,"M U: R' F' R, S",1.58,1.52,29,0.30,1.15,2.31,0.67
397,UF,RB,RF,R,1.56,1.56,1,0.00,1.56,1.56,NaN
201,UF,DB,BU,"U: R B R', S",1.56,1.43,55,0.39,1.12,2.95,1.39

### Fastest algs

In [24]:
df.sort_values('Mean', ascending=True)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
380,UF,UL,RF,"U, L E' L'",0.65,0.62,78,0.14,0.44,1.16,1.34
317,UF,RB,LB,"Uw R': S, R2",0.69,0.69,1,0.00,0.69,0.69,NaN
217,UF,RB,BU,"U R' U, M'",0.69,0.69,1,0.00,0.69,0.69,NaN
215,UF,RU,BU,"R U R' U', M'",0.70,0.66,45,0.17,0.45,1.20,1.31
54,UF,LB,UR,"R E' R', U'",0.70,0.68,49,0.21,0.40,1.60,2.96
321,UF,UR,LF,"U', R' E R",0.70,0.66,100,0.15,0.43,1.15,1.21
421,UF,UR,RD,"U', R' E' R",0.71,0.65,100,0.21,0.47,1.73,2.37
37,UF,RF,UL,"L E' L', U",0.71,0.66,43,0.21,0.41,1.62,2.08
119,UF,UB,DF,"U2, M'",0.72,0.68,81,0.15,0.55,1.57,3.09
38,UF,RB,UL,"L' E L, U",0.72,0.72,1,0.00,0.72,0.72,NaN

In [25]:
df.sort_values('Best', ascending=True)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
54,UF,LB,UR,"R E' R', U'",0.70,0.68,49,0.21,0.40,1.60,2.96
37,UF,RF,UL,"L E' L', U",0.71,0.66,43,0.21,0.41,1.62,2.08
321,UF,UR,LF,"U', R' E R",0.70,0.66,100,0.15,0.43,1.15,1.21
380,UF,UL,RF,"U, L E' L'",0.65,0.62,78,0.14,0.44,1.16,1.34
35,UF,LD,UL,"L E L', U",0.76,0.69,31,0.25,0.44,1.54,1.40
301,UF,UR,LB,"U', R E' R'",0.78,0.67,100,0.30,0.45,2.25,2.46
215,UF,RU,BU,"R U R' U', M'",0.70,0.66,45,0.17,0.45,1.20,1.31
421,UF,UR,RD,"U', R' E' R",0.71,0.65,100,0.21,0.47,1.73,2.37
340,UF,UL,LD,"U, L E L'",0.76,0.70,79,0.20,0.49,1.64,1.58
163,UF,DL,FR,"U L': E', L2",0.75,0.73,37,0.18,0.49,1.28,1.22

In [26]:
import numpy as np

np.mean(df['Best'])

0.7494988610478359