In [26]:
import pandas as pd
from pathlib import Path
import os

OUT_PATH = Path().absolute().parent / "exports"
filelist = os.listdir(OUT_PATH)
filepath = OUT_PATH / filelist[-1]

In [34]:

df = pd.read_excel(filepath)
df.shape

(200, 11)

### Most unstable algs

In [35]:
df.sort_values('Skew', ascending=False)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
177,UF,DR,RF,"U' E' R: E, R2",0.92,0.84,50,0.30,0.69,2.43,3.42
54,UF,UB,DF,"U2, M'",0.74,0.70,63,0.16,0.58,1.57,3.11
186,UF,DR,RB,"Uw' R': E', R2",0.87,0.75,49,0.31,0.59,2.41,2.94
136,UF,UL,LB,"U': R E' R', U'",0.92,0.83,55,0.28,0.63,2.21,2.91
160,UF,FL,LD,"S' U' R': E, R2",1.26,1.19,33,0.39,0.82,3.04,2.91
163,UF,UB,RU,"S U': S, R2",1.06,0.98,63,0.28,0.68,2.55,2.84
82,UF,UR,FD,"Rw: U' R' U, M",1.10,1.00,46,0.35,0.73,2.80,2.70
44,UF,FD,DL,"U' L F' L: S', L2",1.24,1.10,11,0.46,0.88,2.64,2.45
97,UF,UB,BR,"R U': S, R2",0.92,0.83,62,0.25,0.64,1.96,2.41
27,UF,UB,DB,"M, U2",0.80,0.74,63,0.20,0.55,1.71,2.34

### Most stable algs

In [29]:
df.sort_values('Std', ascending=True)[:10][['Buffer', '1st target', '2nd target', 'Alg', 'Count', 'Std']]

    Buffer 1st target 2nd target               Alg  Count   Std
24      UF         FL         UR       R E2 R', U'     33  0.10
116     UF         FD         BL        U L U', M'     11  0.11
173     UF         UL         RF        U, L E' L'     56  0.12
134     UF         FD         LU  U' D: R' F R, S'     11  0.12
103     UF         DF         BR   U' D R': E', R2     13  0.13
51      UF         FL         DR      U' R': E, R2     33  0.13
147     UF         UR         LF        U', R' E R     46  0.14
2       UF         DB         UB             U2, M     50  0.14
101     UF         DL         BR        U L: E, L2     29  0.15
172     UF         UB         RF    U: L E' L', U2     63  0.15

### Slowest algs

In [23]:
df.sort_values('Mean', ascending=False)[:10][['Buffer', '1st target', '2nd target', 'Alg', 'Count', 'Mean']]

    Buffer 1st target 2nd target                        Alg  Count  Mean
153     UF         FD         LF   U r U' r' U' R' D' F D R     10  1.90
144     UF         FD         LB             D R' F: E', R2      9  1.78
52      UF         FR         DR  U: L E' L2 E L S L2 S' L2     23  1.57
90      UF         DB         BU               U: R B R', S     49  1.57
175     UF         DB         RF          R' F R: R, U' M U     50  1.55
30      UF         DL         DB     Lw' D Lw: S', Lw D Lw'     29  1.55
48      UF         DB         DR         Lw U Lw': Lw' U Lw     49  1.51
184     UF         DB         RB            R' F: U' M U, R     47  1.51
120     UF         DL         BD         U' R' B R': S', R2     28  1.47
148     UF         DB         LF         D' R' F: F,R S' R'     50  1.46

### Fastest algs

In [24]:
df.sort_values('Mean', ascending=True)[:10]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std,Best,Worst,Skew
173,UF,UL,RF,"U, L E' L'",0.66,0.64,56,0.12,0.44,1.16,-0.649519
147,UF,UR,LF,"U', R' E R",0.71,0.66,46,0.14,0.53,1.14,-0.649519
193,UF,UR,RD,"U', R' E' R",0.73,0.70,46,0.18,0.16,1.17,-0.649519
54,UF,UB,DF,"U2, M'",0.74,0.70,63,0.16,0.58,1.57,-0.649519
43,UF,FR,DL,"U L: E', L2",0.74,0.66,23,0.20,0.55,1.41,-0.649519
2,UF,DB,UB,"U2, M",0.75,0.72,50,0.14,0.52,1.26,-0.649519
51,UF,FL,DR,"U' R': E, R2",0.76,0.73,33,0.13,0.57,1.19,-0.649519
101,UF,DL,BR,"U L: E, L2",0.77,0.73,29,0.15,0.57,1.12,-0.649519
106,UF,FD,BR,"U' R' U, M'",0.77,0.67,11,0.18,0.61,1.18,-0.649519
5,UF,DF,UB,"M', U2",0.77,0.64,13,0.29,0.56,1.53,-0.649519

0.649519052838329